.view {
    @apply px-24 py-8 bg-cover bg-center bg-no-repeat;
}

.view.view-1 {
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.view.view-2 {
    background: rgb(205, 255, 216);
    background: linear-gradient(90deg, rgba(205, 255, 216, 0.75) 0%, rgba(83, 157, 150, 0.75) 100%), url('/img/sand.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.view.view-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('/img/desk.jpg');
}

